* {
	 box-sizing: border-box;
}
 body {
	 margin: 0;
	 overflow: hidden;
	 background: #112b3c;
	 height: 100%;
	 overflow: hidden;
}
 body:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 100;
	 box-shadow: 0 0 50px rgba(0, 0, 0, 0.3) inset;
	 pointer-events: none;
}
 @media (min-width: 750px) {
	 body:after {
		 box-shadow: 0 0 100px rgba(0, 0, 0, 0.3) inset;
	}
}
 canvas {
	 position: absolute;
	 touch-action: none;
}
 .ui {
	 position: absolute;
	 top: 10px;
	 right: 10px;
	 z-index: 105;
	 display: flex;
	 flex-direction: column;
	 align-items: flex-end;
}
 .ui label {
	 display: grid;
	 grid-template-columns: 0 1fr 1fr;
	 align-items: center;
	 background: #efefef;
	 border-radius: 10px;
	 padding: 8px;
	 width: 36px;
	 overflow: hidden;
	 transition: 0.15s ease-in-out;
	 font-size: 0;
}
 .ui label + label {
	 margin-top: 5px;
}
 .ui label:focus-within, .ui label:hover {
	 width: 146px;
}
 .ui label:focus-within input, .ui label:hover input {
	 margin-left: 10px;
	 opacity: 1;
}
 .ui input {
	 width: 100px;
	 opacity: 0;
}
 .ui svg {
	 flex-shrink: 0;
	 width: 20px;
}
 .tooltip {
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 0;
	 width: 0;
	 z-index: 1;
}
 .tooltip path:first-child {
	 transition: 0.05s ease-out;
}
 .tooltip:focus-within, .tooltip:hover {
	 z-index: 2;
}
 .tooltip:focus-within path:first-child, .tooltip:hover path:first-child {
	 fill: #f48f4b;
}
 p {
	 white-space: nowrap;
	 color: white;
	 background: #efefef;
	 color: #112b3c;
	 position: absolute;
	 top: 0;
	 left: 50%;
	 transform: translate(-50%, -90px);
	 border-radius: 3px;
	 padding: 5px 8px;
	 pointer-events: none;
	 opacity: 0;
	 transition: 0.15s ease-out;
	 font-weight: 400;
	 font-family: 'Oswald', sans-serif;
}
 button:focus + p, button:hover + p {
	 opacity: 1;
}
 button {
	 background: none;
	 padding: 0;
	 border: none;
	 height: 0;
	 cursor: pointer;
}
 button svg {
	 width: 20px;
	 margin-left: -10px;
	 transform: translateY(-100%);
}
 #compass {
	 position: absolute;
	 right: 10px;
	 bottom: 10px;
	 width: 50px;
	 z-index: 120;
	 overflow: visible;
}
 #compass path:first-child {
	 stroke: #112b3c;
	 stroke-width: 4px;
}
